.service {
    text-align: center;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: left;
    
        &-item {
            position: relative;
            flex:   0   0   382px;
            flex-wrap: wrap;
            padding-left: 82px;
    
            &:not(:nth-last-child(-n+3)) {
                margin-bottom: 98px;
            }
    
            &::before {
                position: absolute;
                content: '';
                background-repeat: no-repeat;
                background-position: center;
                width: 80px;
                height: 32px;
                top: 0;
                left: 0;
            }

            &-icon--alarm::before {
                background-image: url("../images/service/alarm.svg");
                position: absolute;
            }

            &-icon--line-graph::before {
                background-image: url("../images/service/LINE-GRAPH.svg");
            }

            &-icon--computer::before {
                background-image: url("../images/service/COMPUTER.svg");
            }

            &-icon--book::before {
                background-image: url("../images/service/BOOK.svg");
            }

            &-icon--home::before {
                background-image: url("../images/service/HOME.svg");
            }

            &-icon--digital::before {
                background-image: url("../images/service/DIGITAL.svg");
            }

            &-title {
                font-family: $main-font;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
                color: rgb(51, 51, 51);
                padding-bottom: 20px;
            }

            &-text {
                font-family: $secondary-font;
                font-size: 15px;
                line-height: 1.6;
                color: rgb(153, 153, 153)
            }
        }
    }
}

.section__title {
    font-family: $main-font;
    order: 1;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 50px;
    padding-top: 52px;

    &--stylized {
        display: block;
        font-family: $third-font;
        order: 0;
        font-size: 24px;
        margin-bottom: 23px;
        text-transform: none;
        font-weight: normal;
    }

    &::after {
        display: flex;
        content: "";
        width: 50px;
        height: 3px;
        background-color:  #f38181;
        margin: 0 auto;
        margin-top: 42px;
    }
}