html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Maven Pro', "Arial", serif;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
.page-header {
    width: 1170px;
    margin: 0 auto;
    background-color:  #fff;
    vertical-align: middle;
}

.site-logo {
    float: left;
    width: 635px;
}

.page-nav a {
    font-size: 32px;
    text-transform: uppercase;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
}

.site-logo::first-letter {
    font-weight: bold;
    color: #1abc9c;
}

.conteiner {
    width: 1170px;
    margin: 0 auto;
    background-color:  #fff;
    vertical-align: middle;
    list-style: none;
}
.site-navigation {
    float: right;
    width: 505px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    list-style: none;

}

.site-navigation li {
    display: inline-block;
}

.site-navigation li:not(:last-child) {
    margin-right: 35px;
}

.site-navigation a {
    display: block;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 11px;
    font-size: 14px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #1abc9c;
}

 h2 {
    color: #515151;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 82px;
    margin-bottom: 72px;
}

h2::after {
    display: block;
    width: 160px;
    height: 8px;
    margin: 0 auto;
    background-color: #1abc9c;
    content: "";
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

h4::after {
    margin-top: 15px;
    display: block;
    width: 136px;
    height: 3px;
    line-height: 32px;
    background-color: #1abc9c;
    content: "";
}

p {
    margin: 0;
}

.product-list {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.product-list-item li {
    text-decoration: none;
}

.product-list-item img {
    width: 255px;
    height: 282px;
}
.product-list-item  {
    list-style: none;
    margin: 0;
    float: left;
    width: 255px;
    height: 322px;
    background-color: #e9f0fd;
}

.product-list-item:hover .product-bottom-block h3 {
    background-color: #1abc9c;
}

.product-list-item:hover .product-bottom-block p {
    background-color: #7fd9c7;
}

.product-list-item:not(:nth-child(4n))  {
    margin-right: 30px;
}

.product-list-item {
    margin-bottom: 30px;
}

.product-bottom-block {
    display: block;
    width: 255px;
    height: 40px;
    margin: 0;
    padding: 0;
}

.product-bottom-block h3 {
    padding: 3px 10px;
    display: block;
    float: left;
    width: 201px;
    height: 40px;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    background-color: #323232;
}

.product-bottom-block p {
    padding-top: 3px;
    display: block;
    float: left;
    width: 54px;
    height: 40px;
    text-align: center;
    color: #ffffff;
    background-color: #8c8c8c;
}

.news-list-item  {
    list-style: none;
    margin: 0;
    float: left;
    width: 350px;
    height: 262px;
    background-color: #e9f0fd;
}

.news-list-item:not(:last-child)  {
    margin-right: 30px;
}

.news-list-item img {
    width: 350px;
    height: 262px;
    margin-bottom: 15px;
}
.news-list-item h4 {
    color: #605e5e;
    margin-bottom: 30px;
}

.news-list-item p {
    font-size: 14px;
    margin-bottom: 15px;
}

.news-list-item:hover .load-item-page {
    background-color: #8c8c8c;
}

.load-item-page {
    width: 160px;
    height: 50px;
    margin: 0 auto;
    border: 1px solid#4ec6ab;
    border-radius: 4px;
    background-color: #4ec6ab;
    margin-bottom: 50px;
}

.load-item-page a {
	color: #ffffff;
	font-size:16px;
    list-style: none;
    text-decoration: none;
    text-align: center;
    line-height: 26px;
}   

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"]

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}

  